header {
    background-image: url(../assets/header-background1.jpg);
    min-height: 40vh;
    padding-top: 80px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    nav {
        background-color: #fd725ab6;
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    nav.sticky {
        background:white;
        border-bottom: $tertiary dashed 1px;
        z-index:3;
    }

    nav.sticky ul li a {
        text-decoration: overline;
        color: $tertiary;
        &:hover{
            text-decoration: underline;
            color: $tertiary;
        }
        &:focus{
            text-decoration: underline;
            color: $tertiary;
        }
    }
    
    ul {
        display: flex;
        margin: 0;
        justify-content: flex-end;
        line-height: 1.5rem;
        letter-spacing: 1.9px;
        transition: 0.3s;
        li{
            font-family: $headerFont;
            padding: 20px;
            font-size: .9rem;
            text-transform: lowercase;
            height: fit-content;
            cursor: pointer;
            text-decoration: overline;
            color: rgba(255, 255, 255, 0.747);
            &:hover {
                text-decoration: underline;
                color: rgba(255, 255, 255, 0.747);
                border-radius: 30%;
            }
            &:focus {
                text-decoration: underline;
                color: rgba(255, 255, 255, 0.747);
                border-radius: 30%;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
    h1 {
        margin-top: 2%;
        margin-bottom: 10px;
        color: white;
        border-radius: 10px;
        width: fit-content;
        padding: 5px 10px;
        font-size: 4rem;
        font-weight: normal;
        text-transform: capitalize;
        font-family: $headerFont;
        text-shadow: rgb(100, 100, 100) 2px 2px;
        
    }

    h2 {
        color: white;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 10px;
        letter-spacing: 1.5px;
        font-family: $headerFont;
        text-shadow: rgb(100, 100, 100) 2px 2px;
    }

    i {
        height: 60px;
        width: 60px;
        color: white;
        position:fixed;
        z-index: 3;

    }
    

} 

.hamburger {
        border: 10px;
        cursor: pointer;
        font-size: 30px;
        line-height: 70px;
        display: none;
      
      &:focus {
        outline: none;
      }
    }

.displayNone {
    display: none;
}



