@media (max-width: 1225px) {
    .projectTwo, .projectFour {
        margin-top: 0px;
    }
}

@media (max-width: 965px) {
    .flexContainer {
        display:block;

        .aboutLeft, .aboutRight {
            margin: 0 auto;
            width:fit-content;
        }

        .aboutRight {
            margin-top: 60px;
        }
    }

    .aboutMe {
        padding: 70px;
    }
}

@media (max-width: 800px) {
    .stackIcons {
        ul{
            flex-wrap: wrap;
            li {
                max-width: 20%;
            }
        }
    }
}

@media (max-width: 630px) {
    form {
        .name, .email {
            width: calc(100% - 80px) !important;
        }
    }


    header {
        h1 {
            font-size: 3rem;
        }
    }
}

@media (max-width: 600px) {
    nav {
        background: $mainCoral !important;
        border-bottom: none;
        z-index:3;
        width: 30% !important;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        a {
            color: white !important;
        }
    }
    nav ul {
    display: none;
    flex-direction: column;
  }
  
  nav ul.show {
    display: flex;
    justify-content: flex-end;
  }

  
  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    left:30;
    background: transparent;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    .fa-bars {
        background:#f47a65;
        text-align: center;
        height: fit-content;
        width: fit-content;
        padding: 5px;
        border-radius: 20%;
        &:hover {
            color: $tertiary;
        }
    }
    .fa-xmark {
        display: none;
    }
  }

  .fa-bars.hide {
      display: none;
  }

  .fa-xmark.present {
      display: block;
      left: 18%;
      font-size: 1rem;
      &:hover {
          color: $tertiary;
      };
  }

  header nav.sticky ul li a {
      text-decoration: none;
  }

  header nav.sticky {
      border-bottom: none;
  }
}

@media (max-width: 550px) {
    .flipBox {
        width: 380px;
        height: 300px;
    }

    h3, h4, p {
        font-size: .7rem !important;
    }

    span {
        display: none;
    }

    .icons {
        i {
        margin: 0px 5px;
        }
    }

}


@media (max-width: 425px) {
    .navMenu {
        a {
            font-size: .6rem;
        }
    }

    .aboutLeft {
        .imgContainer {
            height: 200px;
            width: 200px;
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
        }
    }

    .aboutMe {
        padding: 0;
    }

    .flipBox {
        width: 300px;
        height: 300px;
    }

    h3, h4, p {
        font-size: .6rem !important;
    }
    
}

    
