.projectsTitle {
        text-align: center;

    p {
        padding: 20px 0;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #878d8d;
        font-weight: 600;
        font-size: .8rem;
    }

    h2 {
        font-size: 36px;
        z-index: 1;
        position: relative;
        display: inline-block;
        font-weight: 700;
        padding-bottom: 0px;
        margin-bottom: 60px;
        text-transform: capitalize;
        letter-spacing: 1px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 5px;
            width: 50px;
            bottom: -30px;
            background: $mainCoral;
            margin: 0 auto;
            box-shadow: 0px 10px 24px rgba(0,0,0,0.3);
        }
      }
    }

.projectList {
    border: .9px grey dashed;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.projectImgContainer {
    width: 350px;
    height: 250px;
    margin: auto 10px;
    perspective: 1000px;

    img {
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }
}

.projectText {
    padding: 20px;
    bottom: 0px;
    border-radius: 5%;
    width: 55%;

    h3, h4, p {
        color:$tertiary;
        text-align: center;
        padding: 5px;
        font-size: .8rem;
        font-weight: normal;
        margin: 0;
    }

    h3 {
        font-style:italic;
        font-weight: bold;
    }

    p {
        margin: 0;
    }

    .iconFlex {
        display:flex;
        justify-content: center;
    }
    img {
        height: 30px;
        width: 30px;
    }


    .anchorFlex {
        display: flex;
        justify-content: space-evenly;
    }
    a {
        background: $secondary;
        text-decoration: none;
        color: white;
        padding: 5px;
        border-radius: 10px;
        margin-top: 20px;
        &:hover {
            color: $secondary;
            background: white;
            border: dashed $secondary 1px;
        }

    }

}

.description a {
    background: none;
    color: $secondary;
    &:hover {
        cursor: pointer;
        background: none;
        border: none;
        text-decoration: underline;
    }
}


.projectBox {
    display: flex;
    padding: 50px 20px;
    margin: 20px;
    justify-content: space-evenly;

    transition: transform .5s;

        &:hover {
            transform: scale(1.1);
        }
}

