//poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

//josefin sans 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

body {
    font: 400 16px 'Poppins', sans-serif;
    color: #333; 
}

p {
    color: #6e7373;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 2px;
    color: #333;
    font-weight: 700;
}

// h1 {
//     font-size: 2rem;
// }

h2 {
    font-size: 1.8rem;
    margin: 0 0 30px;
}

h3 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

h4 {
    font-size: .8rem;
    letter-spacing: 1px;
}

h5 {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 400;
}

h6 {
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 400;
}