@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  z-index: 999;
  background: rgba(255, 255, 255, 0);
  color: black;
}

.skip-link:focus {
  left: 0;
}

body {
  font: 400 16px "Poppins", sans-serif;
  color: #333;
}

p {
  color: #6e7373;
  font-weight: 300;
  font-family: "Poppins";
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  color: #333;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  margin: 0 0 30px;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0 0 5px;
}

h4 {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

header {
  background-image: url(../assets/header-background1.jpg);
  min-height: 40vh;
  padding-top: 80px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header nav {
  background-color: rgba(253, 114, 90, 0.7137254902);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
header nav.sticky {
  background: white;
  border-bottom: #333 dashed 1px;
  z-index: 3;
}
header nav.sticky ul li a {
  text-decoration: overline;
  color: #333;
}
header nav.sticky ul li a:hover {
  text-decoration: underline;
  color: #333;
}
header nav.sticky ul li a:focus {
  text-decoration: underline;
  color: #333;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header ul li {
  font-family: "Poppins";
  padding: 20px;
  font-size: 0.9rem;
  text-transform: lowercase;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  text-decoration: overline;
  color: rgba(255, 255, 255, 0.747);
}
header ul li:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.747);
  border-radius: 30%;
}
header ul li:focus {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.747);
  border-radius: 30%;
}
header ul li a {
  text-decoration: none;
  color: white;
}
header h1 {
  margin-top: 2%;
  margin-bottom: 10px;
  color: white;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: 4rem;
  font-weight: normal;
  text-transform: capitalize;
  font-family: "Poppins";
  text-shadow: rgb(100, 100, 100) 2px 2px;
}
header h2 {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  font-family: "Poppins";
  text-shadow: rgb(100, 100, 100) 2px 2px;
}
header i {
  height: 60px;
  width: 60px;
  color: white;
  position: fixed;
  z-index: 3;
}

.hamburger {
  border: 10px;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  display: none;
}
.hamburger:focus {
  outline: none;
}

html {
  font-size: 125%;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.aboutMe {
  min-height: 60vh;
  padding: 100px;
}
.aboutMe h2 {
  font-size: 1.6rem;
  margin: 0 0 30px;
}
.aboutMe p {
  margin-top: 30px;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutLeft, .aboutRight {
  width: calc(50% - 30px);
}

.aboutLeft {
  margin-right: 15px;
}

.aboutRight {
  margin-left: 15px;
}

.imgContainer {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
.imgContainer img {
  border-radius: 30%;
  border: 1px solid #f47a65;
}
.imgContainer::before {
  content: "";
  height: 200px;
  width: 200px;
  display: block;
  background-color: #f47a65;
  border-radius: 3px;
  position: absolute;
  right: -30px;
  top: -30px;
  z-index: -1;
}
.imgContainer::after {
  content: "";
  position: absolute;
  height: 150px;
  width: 120px;
  border: 3px solid #f47a65;
  border-radius: 6px;
  bottom: -30px;
  left: -30px;
  z-index: -1;
}

.icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 25px;
  padding-left: 0;
}
.icons li {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.icons i {
  text-align: center;
  border: 1px solid #dee2e6;
  color: #333;
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 50px;
  margin: 0 10px;
}
.icons i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.resumeButton {
  background: rgba(253, 114, 90, 0.8431372549);
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}
.resumeButton:hover {
  color: rgba(253, 114, 90, 0.8431372549);
  background: white;
  border: dashed rgba(253, 114, 90, 0.8431372549) 1px;
}

.flexAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stack {
  background: #f7f7f7;
  min-height: 40vh;
  padding-top: 50px;
}
.stack .stackTitle {
  text-align: center;
}
.stack p {
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #878d8d;
  font-weight: 600;
  font-size: 0.8rem;
}
.stack h2 {
  font-size: 36px;
  z-index: 1;
  position: relative;
  display: inline-block;
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 60px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.stack h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  width: 50px;
  bottom: -30px;
  background: #f47a65;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.3);
}

.stackIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 15px;
}
.stackIcons ul li {
  -webkit-transform: 0.4s;
          transform: 0.4s;
  width: 100%;
}
.stackIcons ul li p {
  visibility: hidden;
  text-align: center;
}
.stackIcons ul img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.stackIcons ul img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.stackIcons ul img:hover + p {
  visibility: visible;
}

.projectsTitle {
  text-align: center;
}
.projectsTitle p {
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #878d8d;
  font-weight: 600;
  font-size: 0.8rem;
}
.projectsTitle h2 {
  font-size: 36px;
  z-index: 1;
  position: relative;
  display: inline-block;
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 60px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.projectsTitle h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  width: 50px;
  bottom: -30px;
  background: #f47a65;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.3);
}

.projectList {
  border: 0.9px grey dashed;
}
.projectList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projectImgContainer {
  width: 350px;
  height: 250px;
  margin: auto 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.projectImgContainer img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

.projectText {
  padding: 20px;
  bottom: 0px;
  border-radius: 5%;
  width: 55%;
}
.projectText h3, .projectText h4, .projectText p {
  color: #333;
  text-align: center;
  padding: 5px;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
}
.projectText h3 {
  font-style: italic;
  font-weight: bold;
}
.projectText p {
  margin: 0;
}
.projectText .iconFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projectText img {
  height: 30px;
  width: 30px;
}
.projectText .anchorFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.projectText a {
  background: rgba(253, 114, 90, 0.8431372549);
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
}
.projectText a:hover {
  color: rgba(253, 114, 90, 0.8431372549);
  background: white;
  border: dashed rgba(253, 114, 90, 0.8431372549) 1px;
}

.description a {
  background: none;
  color: rgba(253, 114, 90, 0.8431372549);
}
.description a:hover {
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: underline;
}

.projectBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 20px;
  margin: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.projectBox:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact {
  background: #f7f7f7;
  min-height: 50vh;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.contactTitle {
  text-align: center;
}
.contactTitle p {
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #878d8d;
  font-weight: 600;
  font-size: 0.8rem;
}
.contactTitle h2 {
  font-size: 36px;
  z-index: 1;
  position: relative;
  display: inline-block;
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 60px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.contactTitle h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 5px;
  width: 50px;
  bottom: -30px;
  background: #f47a65;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.3);
}

.contactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactForm form .name, .contactForm form .email, .contactForm form .message {
  border: none;
  border-bottom: dotted 2px grey;
  background-color: #f7f7f7;
  color: grey;
  text-align: left;
  padding: 20px 10px;
  margin: 30px;
}
.contactForm form .name, .contactForm form .email {
  width: calc(50% - 80px);
}
.contactForm form .message {
  border: dotted 2px grey;
  width: calc(100% - 80px);
}
.contactForm form textarea {
  resize: none;
}
.contactForm form input:focus,
.contactForm form textarea:focus {
  outline: none;
}
.contactForm input::-webkit-input-placeholder, .contactForm textarea::-webkit-input-placeholder {
  font-family: "Josefin Sans";
  font-size: 1rem;
  color: grey;
  opacity: 1;
}
.contactForm input::-moz-placeholder, .contactForm textarea::-moz-placeholder {
  font-family: "Josefin Sans";
  font-size: 1rem;
  color: grey;
  opacity: 1;
}
.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
  font-family: "Josefin Sans";
  font-size: 1rem;
  color: grey;
  opacity: 1;
}
.contactForm input::-ms-input-placeholder, .contactForm textarea::-ms-input-placeholder {
  font-family: "Josefin Sans";
  font-size: 1rem;
  color: grey;
  opacity: 1;
}
.contactForm input::placeholder, .contactForm textarea::placeholder {
  font-family: "Josefin Sans";
  font-size: 1rem;
  color: grey;
  opacity: 1;
}
.contactForm .submitButton {
  text-align: center;
  background-color: rgba(253, 114, 90, 0.8431372549);
  border: none;
  padding: 5px 18px;
  border-radius: 10%;
  margin: 20px auto;
  text-transform: uppercase;
  color: #333;
}
.contactForm .submitButton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
.contactForm fieldset {
  border: none;
}

@media (max-width: 1225px) {
  .projectTwo, .projectFour {
    margin-top: 0px;
  }
}
@media (max-width: 1000px) {
  .projectBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boxTwo, .boxFour {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projectText {
    width: 90%;
  }
}
@media (max-width: 965px) {
  .flexContainer {
    display: block;
  }
  .flexContainer .aboutLeft, .flexContainer .aboutRight {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .flexContainer .aboutRight {
    margin-top: 60px;
  }
  .aboutMe {
    padding: 70px;
  }
}
@media (max-width: 800px) {
  .stackIcons ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stackIcons ul li {
    max-width: 20%;
  }
}
@media (max-width: 630px) {
  form .name, form .email {
    width: calc(100% - 80px) !important;
  }
  header h1 {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  nav {
    background: #f47a65 !important;
    border-bottom: none;
    z-index: 3;
    width: 30% !important;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  nav a {
    color: white !important;
  }
  nav ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    left: 30;
    background: transparent;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
  }
  .hamburger .fa-bars {
    background: #f47a65;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 20%;
  }
  .hamburger .fa-bars:hover {
    color: #333;
  }
  .hamburger .fa-xmark {
    display: none;
  }
  .fa-bars.hide {
    display: none;
  }
  .fa-xmark.present {
    display: block;
    left: 18%;
    font-size: 1rem;
  }
  .fa-xmark.present:hover {
    color: #333;
  }
  header nav.sticky ul li a {
    text-decoration: none;
  }
  header nav.sticky {
    border-bottom: none;
  }
}
@media (max-width: 550px) {
  .flipBox {
    width: 380px;
    height: 300px;
  }
  h3, h4, p {
    font-size: 0.7rem !important;
  }
  span {
    display: none;
  }
  .icons i {
    margin: 0px 5px;
  }
}
@media (max-width: 425px) {
  .projectImgContainer {
    width: 260px;
    height: 200px;
  }
  .navMenu a {
    font-size: 0.6rem;
  }
  .aboutLeft .imgContainer {
    height: 200px;
    width: 200px;
  }
  .aboutLeft .imgContainer::before {
    display: none;
  }
  .aboutLeft .imgContainer::after {
    display: none;
  }
  .aboutMe {
    padding: 0;
  }
  .flipBox {
    width: 300px;
    height: 300px;
  }
  h3, h4, p {
    font-size: 0.6rem !important;
  }
}
footer {
  background: #f47a65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer p {
  margin: 0 20px;
  color: #333;
  font-size: 1rem;
  font-family: "Josefin Sans";
}

.contactInformation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin: 10px 20px;
}
.contactInformation li {
  -webkit-box-shadow: 0 0px 0px 0px;
          box-shadow: 0 0px 0px 0px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.705);
  margin: 0 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.contactInformation i {
  text-align: center;
  font-size: 1rem;
  padding: 0;
  padding-top: 12px;
  color: #333;
  height: 45px;
  width: 45px;
}
.contactInformation i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}